In [1]:
import pandas as pd
import datetime
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('ml-03-data-processing-songs-dataset.csv')

In [252]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   1994 non-null   int64
 1   Title                   1991 non-null   object
 2   Artist                  1986 non-null   object
 3   Top Genre               1986 non-null   object
 4   Year                    1987 non-null   float64
 5   Month                   1994 non-null   object
 6   Beats Per Minute (BPM)  1985 non-null   float64
 7   Energy                  1986 non-null   float64
 8   Danceability            970 non-null    float64
 9   Loudness (dB)           1987 non-null   float64
 10  Liveness                1986 non-null   float64
 11  Valence                 960 non-null    float64
 12  Length (Duration)       1985 non-null   object
 13  Acousticness            1986 non-null   float64
 14  Speechiness             1990 non-null   float64
 15  Popularity              1987 non-null   float64
dtypes: float64(10), int64(1), object(5)
memory usage: 249.4+ KB

In [247]:
df.Month.unique()

array(['10', '3', '6', '1', '8', '2', '9', '12', '11', '4', '7', '5',
       'Jan', 'Dec', 'Sep', 'Apr', 'Jun', 'May'], dtype=object)

In [3]:
d = {'1':1, '2':2, '3':3, '4':4, '5':5, '6':6, '7':7, '8':8, '9':9, '10':10, '11':11, '12':12,
    'Jan':1, 'Dec':12, 'Sep':9, 'Apr':4, 'Jun':6, 'May':5}
df.Month = df.Month.map(d)
df.Month.unique()

array([10,  3,  6,  1,  8,  2,  9, 12, 11,  4,  7,  5], dtype=int64)

In [4]:
df_clean = df.copy()
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   1994 non-null   int64
 1   Title                   1991 non-null   object
 2   Artist                  1986 non-null   object
 3   Top Genre               1986 non-null   object
 4   Year                    1987 non-null   float64
 5   Month                   1994 non-null   int64
 6   Beats Per Minute (BPM)  1985 non-null   float64
 7   Energy                  1986 non-null   float64
 8   Danceability            970 non-null    float64
 9   Loudness (dB)           1987 non-null   float64
 10  Liveness                1986 non-null   float64
 11  Valence                 960 non-null    float64
 12  Length (Duration)       1985 non-null   object
 13  Acousticness            1986 non-null   float64
 14  Speechiness             1990 non-null   float64
 15  Popularity              1987 non-null   float64
dtypes: float64(10), int64(2), object(4)
memory usage: 249.4+ KB

In [5]:
df_clean = df_clean.dropna(thresh=9)
df_clean = df_clean.dropna(axis='columns', thresh = 990)
df_clean.drop('Index', axis=1, inplace=True)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1981 entries, 0 to 1993
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   1981 non-null   object
 1   Artist                  1981 non-null   object
 2   Top Genre               1981 non-null   object
 3   Year                    1981 non-null   float64
 4   Month                   1981 non-null   int64
 5   Beats Per Minute (BPM)  1981 non-null   float64
 6   Energy                  1981 non-null   float64
 7   Loudness (dB)           1981 non-null   float64
 8   Liveness                1981 non-null   float64
 9   Length (Duration)       1981 non-null   object
 10  Acousticness            1981 non-null   float64
 11  Speechiness             1981 non-null   float64
 12  Popularity              1981 non-null   float64
dtypes: float64(8), int64(1), object(4)
memory usage: 216.7+ KB

In [256]:
df_clean

,Title,Artist,Top Genre,Year,Month,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Popularity
0,Sunrise,Norah Jones,adult standards,2004.0,10,157.0,30.0,-14.0,11.0,201,94.0,3.0,71.0
1,Black Night,Deep Purple,album rock,2000.0,3,135.0,79.0,-11.0,17.0,207,17.0,7.0,39.0
2,Clint Eastwood,Gorillaz,alternative hip hop,2001.0,6,168.0,69.0,-9.0,7.0,341,2.0,17.0,69.0
3,The Pretender,Foo Fighters,alternative metal,2007.0,1,173.0,96.0,-4.0,3.0,269,0.0,4.0,76.0
4,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,2002.0,8,106.0,82.0,-5.0,10.0,256,1.0,3.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,Heartbreak Hotel,Elvis Presley,adult standards,1958.0,4,94.0,21.0,-12.0,11.0,128,84.0,7.0,63.0
1990,Hound Dog,Elvis Presley,adult standards,1958.0,6,175.0,76.0,-8.0,76.0,136,73.0,6.0,69.0
1991,Johnny B. Goode,Chuck Berry,blues rock,1959.0,4,168.0,80.0,-9.0,31.0,162,74.0,7.0,74.0
1992,Take Five,The Dave Brubeck Quartet,bebop,1959.0,10,174.0,26.0,-13.0,7.0,324,54.0,4.0,65.0
1993,Blueberry Hill,Fats Domino,adult standards,1959.0,6,133.0,50.0,-10.0,16.0,148,74.0,3.0,56.0

In [215]:
df_clean.describe()

,Year,Month,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Acousticness,Speechiness,Popularity
count,1981.000000,1981.000000,1981.000000,1981.000000,1981.000000,1981.000000,1981.000000,1981.000000,1981.000000
mean,1959.439677,6.521454,120.238768,59.641090,-9.018173,19.009086,28.933872,4.992428,59.499243
std,251.024147,3.419370,28.652640,22.177314,3.652130,16.737453,29.047404,4.411125,14.374101
min,92.000000,1.000000,15.000000,3.000000,-27.000000,2.000000,0.000000,2.000000,11.000000
25%,1978.000000,4.000000,99.000000,42.000000,-11.000000,9.000000,3.000000,3.000000,49.000000
50%,1994.000000,7.000000,119.000000,61.000000,-9.000000,12.000000,18.000000,4.000000,62.000000
75%,2007.000000,9.000000,136.000000,78.000000,-6.000000,23.000000,50.000000,5.000000,71.000000
max,2019.000000,12.000000,305.000000,100.000000,-2.000000,99.000000,99.000000,55.000000,100.000000

In [6]:
df_clean.Year = df_clean.Year.astype(int)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1981 entries, 0 to 1993
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   1981 non-null   object
 1   Artist                  1981 non-null   object
 2   Top Genre               1981 non-null   object
 3   Year                    1981 non-null   int32
 4   Month                   1981 non-null   int64
 5   Beats Per Minute (BPM)  1981 non-null   float64
 6   Energy                  1981 non-null   float64
 7   Loudness (dB)           1981 non-null   float64
 8   Liveness                1981 non-null   float64
 9   Length (Duration)       1981 non-null   object
 10  Acousticness            1981 non-null   float64
 11  Speechiness             1981 non-null   float64
 12  Popularity              1981 non-null   float64
dtypes: float64(7), int32(1), int64(1), object(4)
memory usage: 208.9+ KB

In [7]:
df_clean.Year.replace({92:1992}, inplace = True)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1981 entries, 0 to 1993
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Title                   1981 non-null   object
 1   Artist                  1981 non-null   object
 2   Top Genre               1981 non-null   object
 3   Year                    1981 non-null   int64
 4   Month                   1981 non-null   int64
 5   Beats Per Minute (BPM)  1981 non-null   float64
 6   Energy                  1981 non-null   float64
 7   Loudness (dB)           1981 non-null   float64
 8   Liveness                1981 non-null   float64
 9   Length (Duration)       1981 non-null   object
 10  Acousticness            1981 non-null   float64
 11  Speechiness             1981 non-null   float64
 12  Popularity              1981 non-null   float64
dtypes: float64(7), int64(2), object(4)
memory usage: 216.7+ KB

In [8]:
df_date = df_clean[['Month', 'Year']]
df_date['Day'] = 1
#df_date.info()
df_date.head()

C:\Users\Daniel\AppData\Local\Temp/ipykernel_19160/1655441266.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_date['Day'] = 1

   Month  Year  Day
0     10  2004    1
1      3  2000    1
2      6  2001    1
3      1  2007    1
4      8  2002    1

In [9]:
df_date = pd.to_datetime(df_date, dayfirst=True)
df_clean['date'] = df_date
df_clean['current_date'] = pd.to_datetime('today')
df_clean.head()

,Title,Artist,Top Genre,Year,Month,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Popularity,date,current_date
0,Sunrise,Norah Jones,adult standards,2004,10,157.0,30.0,-14.0,11.0,201,94.0,3.0,71.0,2004-10-01,2022-01-17 17:04:04.796346
1,Black Night,Deep Purple,album rock,2000,3,135.0,79.0,-11.0,17.0,207,17.0,7.0,39.0,2000-03-01,2022-01-17 17:04:04.796346
2,Clint Eastwood,Gorillaz,alternative hip hop,2001,6,168.0,69.0,-9.0,7.0,341,2.0,17.0,69.0,2001-06-01,2022-01-17 17:04:04.796346
3,The Pretender,Foo Fighters,alternative metal,2007,1,173.0,96.0,-4.0,3.0,269,0.0,4.0,76.0,2007-01-01,2022-01-17 17:04:04.796346
4,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,2002,8,106.0,82.0,-5.0,10.0,256,1.0,3.0,59.0,2002-08-01,2022-01-17 17:04:04.796346

In [10]:
df_clean['Age'] = df_clean['current_date'].dt.year.sub(df_clean['date'].dt.year)
df_clean.drop('current_date', axis=1, inplace=True)
df_clean.drop('Year', axis=1, inplace=True)
df_clean.drop('Month', axis=1, inplace=True)
df_clean.drop('date', axis=1, inplace=True)
df_clean.drop('Title', axis=1, inplace=True)

In [11]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1981 entries, 0 to 1993
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Artist                  1981 non-null   object
 1   Top Genre               1981 non-null   object
 2   Beats Per Minute (BPM)  1981 non-null   float64
 3   Energy                  1981 non-null   float64
 4   Loudness (dB)           1981 non-null   float64
 5   Liveness                1981 non-null   float64
 6   Length (Duration)       1981 non-null   object
 7   Acousticness            1981 non-null   float64
 8   Speechiness             1981 non-null   float64
 9   Popularity              1981 non-null   float64
 10  Age                     1981 non-null   int64
dtypes: float64(7), int64(1), object(3)
memory usage: 185.7+ KB

In [12]:
x = df_clean.copy()
x.drop('Popularity', axis=1, inplace=True)
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1981 entries, 0 to 1993
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Artist                  1981 non-null   object
 1   Top Genre               1981 non-null   object
 2   Beats Per Minute (BPM)  1981 non-null   float64
 3   Energy                  1981 non-null   float64
 4   Loudness (dB)           1981 non-null   float64
 5   Liveness                1981 non-null   float64
 6   Length (Duration)       1981 non-null   object
 7   Acousticness            1981 non-null   float64
 8   Speechiness             1981 non-null   float64
 9   Age                     1981 non-null   int64
dtypes: float64(6), int64(1), object(3)
memory usage: 170.2+ KB

In [13]:
y = df_clean['Popularity'].copy()
y

0       71.0
1       39.0
2       69.0
3       76.0
4       59.0
        ...
1989    63.0
1990    69.0
1991    74.0
1992    65.0
1993    56.0
Name: Popularity, Length: 1981, dtype: float64

In [14]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.3, random_state = 1000
)

In [19]:
x_train.describe()

,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Acousticness,Speechiness,Age
count,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000,1386.000000
mean,120.500000,59.935786,-8.950216,19.102453,28.126984,5.095960,28.707792
std,28.738715,21.693621,3.622988,16.838401,28.513442,4.667441,16.153431
min,15.000000,3.000000,-27.000000,2.000000,0.000000,2.000000,3.000000
25%,100.000000,43.000000,-11.000000,9.000000,3.000000,3.000000,14.000000
50%,119.000000,61.000000,-8.000000,13.000000,18.000000,4.000000,28.000000
75%,136.000000,77.000000,-6.000000,23.000000,49.000000,5.000000,43.000000
max,305.000000,99.000000,-2.000000,99.000000,99.000000,55.000000,64.000000

In [20]:
x_test.describe()

,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Acousticness,Speechiness,Age
count,595.000000,595.000000,595.000000,595.000000,595.000000,595.000000,595.000000
mean,119.630252,58.954622,-9.176471,18.791597,30.813445,4.751261,29.652101
std,28.465901,23.269385,3.717388,16.511916,30.195666,3.739224,16.018139
min,18.000000,5.000000,-24.000000,2.000000,0.000000,2.000000,3.000000
25%,97.000000,41.000000,-12.000000,9.000000,4.000000,3.000000,15.000000
50%,119.000000,60.000000,-9.000000,12.000000,19.000000,4.000000,29.000000
75%,137.000000,79.000000,-6.000000,23.000000,56.500000,5.000000,43.000000
max,206.000000,100.000000,-2.000000,99.000000,98.000000,41.000000,66.000000

In [21]:
y_train.describe()

count    1386.000000
mean       59.626263
std        14.427271
min        11.000000
25%        49.000000
50%        62.000000
75%        71.000000
max       100.000000
Name: Popularity, dtype: float64

In [22]:
y_test.describe()

count    595.000000
mean      59.203361
std       14.257162
min       12.000000
25%       51.000000
50%       61.000000
75%       70.000000
max       95.000000
Name: Popularity, dtype: float64